<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8">
 	<title>About</title>
    </head>
<style>
nav {
    text-align: center;
    margin: auto;
}
div {
    color:	#525564;
    text-align: center;
    margin: auto;
}
ul{
    margin: auto;
    width: 400px;
    color:	#525564;
    list-style-position: inside;
    }
li{
    }
</style>
<body>
    <nav>
<h3>
   <a href="/">Home</a>|
    <a href="/settings">Settings</a> |
<a href="/adafruit">Adafruit</a> |
<a href="/camera">Camera</a> |
<a href="/distance">Distance</a> |
<a href="/led">LED</a> |
<a href="/pins">Pins</a> 
<a href="/temperature">Temperature</a> |
<a href="/help">Help</a> |
<a href="/about">About</a></h3>
    </nav>
    <br>
    <div><h3>Flaskberry</h3>
        <p> Simple web app to control Raspberry Pi via <a href="https://github.com/Norbaeocystin/Controlberry">Controlberry</a></p></div>
    <br><div><h3>For more info visit <a href="https://github.com/Norbaeocystin/Flaskberry">Flaskberry repository on github</a></h3></div><br><div>2018</div>
</body>
</html>
