<!DOCTYPE html>
<html>
<style>
li {
    display: inline;
    background-color: #525564;
    color:	#FEF6EB;
    width: 220px;
    text-align: center;
    margin: auto;
    padding:10px;
}
div {
    text-align: center;
    margin: auto;
}
nav {
    text-align: center;
    margin: auto;
}
</style>
<body>
<body>
    <nav>
<h3>
 <a href="/">Home</a>|
    <a href="/settings">Settings</a> |
<a href="/adafruit">Adafruit</a> |
<a href="/camera">Camera</a> |
<a href="/distance">Distance</a> |
<a href="/led">LED</a> |
<a href="/pins">Pins</a> 
<a href="/temperature">Temperature</a> |
<a href="/help">Help</a> |
<a href="/about">About</a></h3>
    </nav>
<div>Temperatures:<ul><br>
        {% for item in TemperatureKeys%}
    <li class="keys"><h =  id='{{item}}'>{{item}}</h> <li id='{{item}}'></li></li>
        {% endfor %}
    </ul>
    </div>
<div>
<form method = "post">
 <input type="submit" value="Export Data">
</form> 
</div>
    <div id='image'></div>
<script>
/*
these javascript code is here because I had problem to setup SSE in flask
*/
var data_ = JSON.parse('{{settings}}'.split("&#34;").join('"'))
var keys = Object.keys(data_);
var temperatureSensors = keys.filter(key => key.includes('AdafruitName'));
for (var i = 0; i < temperatureSensors.length; i++) {
    // Iterate over numeric indexes from 0 to 5, as everyone expects.
    key = temperatureSensors[i];
    var liName = document.getElementById(key);
    liName.innerHTML = data_[key] + ":"
}
var ul = document.getElementById("temperatures");
function api() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var res = JSON.parse(this.responseText);
      keys = Object.keys(res)
      for (var i = 0; i < keys.length; i++ )
      {
        var key = keys[i];  
        var humidity = res[key].Humidity;
        var temperature = res[key].Temperature;
        var p = document.getElementById(key);
        p.innerHTML = data_[key] +' Humidity: '+ parseFloat(humidity).toFixed(2) + '; Temperature: ' + parseFloat(temperature).toFixed(2);
      }
    }
  };
  xhttp.open("GET", "/temp_adafruit", true)
  xhttp.send();
}
api();
var myVar = setInterval(api, 30000);
    
function get_image(key) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var res = this.responseText;
    var div = document.getElementById('image');
    var h3 = document.createElement("H3");
    h3.innerHTML = key;
    if (document.getElementById('imageGraph' + key) == null){
        var image_ = document.createElement("IMG");
        image_.setAttribute('id', 'imageGraph' + key);
        image_.src =  "data:image/png;base64," + res;
        div.appendChild(h3);
        div.appendChild(image_);
    }
        else {document.getElementById('imageGraph' + key).src = "data:image/png;base64," + res;}
    }
  };
  xhttp.open("GET", "/api/graphs?key=" +key, true)
  xhttp.send();
}
function images(){
for (var i = 0; i < temperatureSensors.length; i++) {
    // Iterate over numeric indexes from 0 to 5, as everyone expects.
    var key_ = temperatureSensors[i];
    var key = data_[key_];
    get_image(key);
} 
}
images();
var my = setInterval(images, 30*60000);
</script>
</body>
