<!DOCTYPE html>
<html>
    <head>
 	<title>Distance</title>
    </head>
<style>
div {
    text-align: center;
    margin: auto;
    background-color: 	#525564;
    color:	#FEF6EB;
    width: 100px;
}
nav {
    text-align: center;
    margin: auto;
}
</style>
<body>
    <nav>
<h3>
 <a href="/">Home</a>|
    <a href="/settings">Settings</a> |
<a href="/adafruit">Adafruit</a> |
<a href="/distance">Distance</a> |
<a href="/led">LED</a> |
<a href="/temperature">Temperature</a> |
<a href="/help">Help</a> |
<a href="/about">About</a></h3>
    </nav>
    <nav>
    {% for item in ultraSoundKeys%}
    <form method="post">
    <input type="hidden" name="{{item[0]}}" value={{item[0]}}>
        <p id="{{item[0]}}">{{item[1]}}</p>
		{{ form.submit }}
	</form>
    <br>
    {% endfor %}
    </nav>
<script>
document.getElementById('{{name}}').innerHTML += ": {{distance}}";
</script>
</body>
</html>
