<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8">
 	<title>home</title>
    </head>
<style>
nav {
    text-align: center;
    margin: auto;
}
div {
    color:	#525564;
    text-align: center;
    margin: auto;
}
</style>
<body>
 <nav>
<h3>
 <a href="/">Home</a>|
    <a href="/settings">Settings</a> |
<a href="/adafruit">Adafruit</a> |
<a href="/camera">Camera</a> |
<a href="/distance">Distance</a> |
<a href="/led">LED</a> |
<a href="/pins">Pins</a> |
<a href="/schedule">Schedule</a> |
<a href="/temperature">Temperature</a> |
<a href="/help">Help</a> |
<a href="/about">About</a></h3>
</nav>
    <div><h2>Under construction</h2></div>
</body>
</html>
